fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
transformers>=4.34.0
torch>=2.0.0
torchaudio>=2.0.0
sentencepiece
sacremoses
accelerate
librosa
pydub
soundfile
scipy
numpy
faster-whisper>=0.10.0
pyannote.audio>=3.0.0
pyannote.core
huggingface_hub>=0.18.0
requests
sounddevice
